@import '../../sass/variables.scss';

.check--view {
  display: flex;
  justify-content: center;
  padding: 1rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 0.5rem;
  }
}
