@import '../../sass/variables.scss';

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 5%;

  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }
}

.heading {
  font-size: 3rem;
  text-align: center;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.4rem;
  }
}

.heading-rules {
  font-size: 4rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

.text {
  font-size: 2rem;
  padding: 5rem;

  @media only screen and (max-width: $bp-medium-low) {
    font-size: 1.5rem;
    padding: 0rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    padding: 1rem;
  }
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  width: 100%;
  height: 5%;
  background-color: black;

  color: white;

  @media only screen and (max-width: $bp-medium-low) {
    font-size: 1rem;
    height: 10%;
  }
}

.ln-link {
  text-decoration: none;
  color: $color-gray-light-3;
  margin: 1rem;
}
