@import '../../../sass/variables.scss';
.button-item {
  margin: 1rem;
  padding: 1rem;
  height: 8rem;
  width: 8rem;
  border-radius: 10px;
  font-size: 4.5rem;
  text-align: center;
  border: 0.7rem solid $color-grey-light-1;
  background-color: $color-grey-light-2;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 0.3rem 0rem rgba($color-black, 0.2);
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    transform: translateY(0rem);
    box-shadow: 0 0.1rem 0.1rem 0rem rgba($color-black, 0.2);
  }
  &:disabled {
    transform: none;
    box-shadow: none;
  }
}

.star {
  color: $color-yelow-light;
  &:disabled {
    color: rgba($color-yelow-light, 0.4);
  }
}
.diamonds {
  color: $color-red-2;
  &:disabled {
    color: rgba($color-red-2, 0.4);
  }
}

.hearts {
  color: $color-red-2;
  &:disabled {
    color: rgba($color-red-2, 0.4);
  }
}
.joker {
  color: $color-grad-1;
  &:disabled {
    color: rgba($color-grad-1, 0.4);
  }
}
.club {
  color: $color-black;
  &:disabled {
    color: rgba($color-black, 0.4);
  }
}
.spade {
  color: $color-black;
  &:disabled {
    color: rgba($color-black, 0.4);
  }
}
