//colors

$color-primary: rgb(133, 173, 216);
$result: #e3e3e3;
$color-primary-transparent: hsla(6, 82%, 73%, 0.4);
$color-red-1: rgb(229, 150, 150);
$color-red-2: #a80b0b;
$color-grad-1: rgba(13, 53, 123, 0.878);
$color-yelow-light: rgb(255, 204, 0);

$color-grad-2: #439bfa;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-yelow-dark: #ffb900;
$color-blue-light: #094f85;
$color-blue-dark: #5643fa;

$color-grey-light-1: #f9f5f3;
$color-grey-light-2: #f2efee;
$color-grey-light-3: #d3c7c3;
$color-grey-dark-1: #615551;
$color-grey-dark-2: #918581;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey-nav: #7e8c9c;
$color-blue-nav: #0c243c;

$gradient: linear-gradient(to right bottom, $color-blue-nav, $color-grad-2);
$gradient2: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

//media auery responsive view
$bp-large: 75em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-medium-low: 43.125em; //690px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
