@import '../../sass/variables.scss';

.timer {
  height: 8rem;
  width: 8rem;
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;
  font-weight: 500;
  color: $color-black;
  display: block;
  background-color: $color-yelow-light;
  border: 7px solid $color-black;
  border-radius: 50rem;
  text-align: center;
}
