.secret-symbol {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(0.5vw, 0.8rem);
  border-top: 1px solid rgba(200, 150, 12, 0.2);

  .item {
    border-color: rgba(255, 215, 0, 0.65);
    box-shadow: 0 0 min(0.6vw, 8px) rgba(255, 215, 0, 0.2);
  }

  @media (max-width: 640px) {
    padding: clamp(0.3rem, 1vw, 0.6rem);
    flex: none;
  }
}

.hidden {
  display: none;
}
