@import '../../sass/variables.scss';

.item {
  margin: 0 1rem;
  padding: 1rem;
  height: 9rem;
  width: 9rem;
  border-radius: 10px;
  border: 0.7rem solid $color-grey-light-2;
  background-color: $color-primary;
  font-size: 5rem;
  text-align: center;
}
