@import '../sass/variables.scss';

.section-about {
  min-height: 100vh;
  padding: 5% 10%;

  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }
}

.heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    margin-top: 10rem;
    font-size: 1.4rem;
  }
}

.heading-rules {
  font-size: 4rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

.text {
  font-size: 2rem;
  padding: 5rem;

  @media only screen and (max-width: $bp-medium-low) {
    font-size: 2rem;
    padding: 0rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    padding: 1rem;
  }
}
