@import '../sass/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 3px solid $color-gray-nav;
  margin-bottom: 5rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: $bp-medium-low) {
    flex-direction: column;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: none;
  }

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: $color-gray-light-3;
  margin: 5rem;

  @media only screen and (max-width: $bp-medium-low) {
    margin: 1rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
  }
  &:active {
    transform: translateY(0);
  }
}
.nav-link {
  border: 3px solid $color-gray-nav;
  border-radius: 4px;
  padding: 1.5rem;
}
.title {
  @media only screen and (max-width: $bp-small) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: #fff;
  }
}
