@import '../sass/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid $color-grey-nav;
}
a {
  text-decoration: none;
  color: $color-grey-light-3;
  margin: 5rem;
  &:hover {
    transform: translateY(-0.2rem);
  }
  &:active {
    transform: translateY(0);
  }
}
.nav-link {
  border: 1px solid $color-grey-nav;
  border-radius: 3px;
  padding: 1rem;
}
